#container{
  width: 97.5vw;
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
}

#canvas_wrapper{
  position: relative;
  width: 100%;
  margin: 0 auto;
}

#canvas{
  width: 960px;
  height: 640px;
  margin-left: calc((100% - 900px) / 2);
}

#mini-window{
  display: none;
  position: absolute;
  width: 450px;
  height: 300px;
  /* top: calc((100% - 300px) / 2);
  left: calc((100% - 450px) / 2); */
  border: dashed 3px black;
  z-index: 100;

  opacity: 0.75;
}

#mini-canvas{
  background-color: black;
  /* width: 100%;
  height: 100%; */
  cursor: crosshair;
}