*:not(.material-icons){
  font-family: "Noto Sans JP", sans-serif !important;
}

main{
  position: relative;
  width: 92.5vw;
  height: 100vh;
  margin: 0 auto;

  display: grid;
  column-gap: 20px;
  grid-template-columns: 1fr 960px;
  align-items: center;
}


/* 左のガイド */
#guide{
  height: 640px;
}

#guide #guide-header{
  padding: 0;
  text-align: center;
}

#guide #guide-header h1{
  font-size: 2vw;
  line-height: 2;
}

#guide #guide-body{
  height: calc(640px - 2vw * 2);
  overflow-y: scroll;
  padding: 15px 25px;
  box-sizing: border-box;
}

#guide #guide-body::-webkit-scrollbar{
  width: 4px;
  background: transparent;
}

#guide #guide-body::-webkit-scrollbar-corner,
#guide #guide-body::-webkit-scrollbar-thumb,
#guide #guide-body::-webkit-scrollbar-track {
  border-radius: 4px;
}
#guide #guide-body::-webkit-scrollbar-thumb {
  background-color: #aaa;
}

#guide #guide-body h2{
  font-size: 1.25vw;
  line-height: 1;
  margin: 30px 0 10px 0;
}

#guide #guide-body h2:first-of-type{
  margin-top: 10px;
}

#guide #guide-body ol{
  margin: 0;
  padding-left: 20px;
}

#guide #guide-body ol li{
  margin-bottom: 10px;
}

#guide #guide-body ol img{
  display: block;
  margin: 10px auto;
  width: 80%;
}

#guide #guide-body p{
  margin: 0;
  margin-bottom: 20px;
}


/* キャンバス */
#canvas_wrapper{
  position: relative;
  width: 960px;
  height: 640px;
}

#canvas{
  width: 100%;
  height: 100%;
}

#mini-window{
  display: none;
  position: absolute;
  width: 450px;
  height: 300px;
  border: dashed 3px black;
  z-index: 100;

  opacity: 0.75;
}

#mini-canvas{
  background-color: black;
  /* width: 100%;
  height: 100%; */
  cursor: crosshair;
}

#pin_list{
  position: absolute;
  top: 0;
  left: 0;
}
#pin_list .pin{
  display: inline-block;
  position: absolute;
  width: 30px;
  height: 48px;
  font-size: 16px;
  text-align: center;
  color: red;
}
#pin_list .pin span{ font-size: 14px; }
#pin_list .pin .material-icons{
  font-family: 'Material Icons';
  display: inline-block;
  color: red;
  font-size: 24px;
}

#overlay p{
  text-align: center;
  margin: 0;
  font-size: 2.5vw;
  line-height: 640px;
  vertical-align: middle;
}

#time-display{
  position: absolute;
  top: -20px;
  right: 2px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
}