#container{
  position: relative;
  width: 97.5vw;
  margin: 0 auto;
  font-family: "Noto Sans JP", sans-serif;
}

#canvas_wrapper{
  position: relative;
  width: 960px;
  height: 640px;
  margin: 0 auto;
}

#canvas{
  width: 100%;
  height: 100%;
  margin-left: calc((100% - 900px) / 2);
}

#mini-window{
  display: none;
  position: absolute;
  width: 450px;
  height: 300px;
  border: dashed 3px black;
  z-index: 100;

  opacity: 0.75;
}

#mini-canvas{
  background-color: black;
  /* width: 100%;
  height: 100%; */
  cursor: crosshair;
}

#pin_list{
  position: absolute;
  top: 0;
  left: 0;
}
/* https://design-library.jp/lab/icons-pin-fill */
#pin_list .pin{
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  font-size: 16px;
  text-align: center;
  color: red;
}
#pin_list .pin::before{
  content: "";
  position: absolute;
  vertical-align: middle;
  top: 24px;
  left: -5%;
  width: 100%;
  height: 100%;
  background: red;
  border: 1px solid red;
  border-radius: 40% 60% 0% 100% / 40% 100% 0% 60%;
  box-sizing: content-box;
  transform: rotate(45deg);
}
#pin_list .pin::after{
  content: "";
  position: absolute;
  top: calc(24px + 25%);
  left: 25%;
  width: 50%;
  height: 50%;
  background: #fff;
  border-radius: 50%;
  box-sizing: border-box;
}